{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ab, unde mollitia necessitatibus ipsam odit itaque tempore, vitae, totam eos magni? Velit atque nihil voluptates hic ipsum eum quo excepturi reiciendis alias libero earum, at vitae, facere eveniet quibusdam molestias nobis soluta. Quod asperiores voluptates vitae maiores harum exercitationem molestias laudantium porro magnam, adipisci voluptatibus nobis! Eaque atque nemo autem distinctio dignissimos molestiae dolore eveniet! Cum culpa, quos sint totam numquam aspernatur quisquam voluptatem natus vero, maiores deserunt velit! Eveniet numquam qui odio. Accusantium magni, ab id ipsam dolorem magnam at inventore consequuntur veniam nesciunt rerum facere earum sunt dicta, doloribus consectetur, ea esse incidunt. Nemo, iure! Illo a consectetur quibusdam saepe voluptas ducimus rerum quae recusandae odio voluptatem tempore, suscipit sunt sint blanditiis magni at dignissimos neque assumenda nobis dolorem molestias nesciunt? Nam dicta alias praesentium, laborum sunt distinctio quidem ad cum eveniet tempora esse incidunt illo dolorem beatae similique reiciendis explicabo delectus provident, quis soluta doloribus. Quod, delectus. Pariatur minus explicabo culpa eveniet velit facilis nihil quas beatae provident, ab expedita excepturi officiis adipisci quisquam nemo asperiores amet reprehenderit veniam fugiat aliquam modi quod. Sapiente, distinctio delectus enim dicta dolores quae magni, porro, iusto minima excepturi architecto dignissimos.</p>



{% endblock %}
