{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat fugiat maiores, et dolorum dolorem excepturi quibusdam soluta voluptatibus blanditiis nisi?</p>

{% endblock %}
